/* REGOLE GENERALI */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Messaggio risultato */
#result-text{
    text-align: center;
}

/* Contenitore dado */
.dice-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 50%;
    margin: 0 auto;
}

/* Stili per il dado */
.dice {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transition: transform 1s;
}

/* Animazione dado */
@keyframes roll {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}

.rolling {
    animation: roll 1s;
}